<?xml version="1.0" ?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot name="ur" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!--GROUPS: Representation of a set of joints and links. This can be useful for specifying DOF to plan for, defining arms, end effectors, etc-->
    <!--LINKS: When a link is specified, the parent joint of that link (if it exists) is automatically included-->
    <!--JOINTS: When a joint is specified, the child link of that joint (which will always exist) is automatically included-->
    <!--CHAINS: When a chain is specified, all the links along the chain (including endpoints) are included in the group. Additionally, all the joints that are parents to included links are also included. This means that joints along the chain and the parent joint of the base link are included in the group-->
    <!--SUBGROUPS: Groups can also be formed by referencing to already defined group names-->
    <group name="manipulator">
        <chain base_link="base_link" tip_link="ee_link" /> <!--FIXME tool0-->
    </group>
    <group name="ee_group">
         <link name="ee_link" /> <!--FIXME tool0-->
    </group>
    <end_effector name="ur5_end_effector" parent_link="ee_link" group="ee_group" parent_group="manipulator" /> <!--FIXME tool0-->

    <!--GROUP STATES: Purpose: Define a named state for a particular group, in terms of joint values. This is useful to define states like 'folded arms'-->
    <xacro:include filename="$(find tms_ur5_series_moveit_config)/xacro_macros/state_macro.xacro" />
    <xacro:pose name="Home" q1="0" q2="0" q3="0"  q4="0" q5="0" q6="0"/>
    <xacro:pose name="Up" q1="0" q2="-90" q3="0"  q4="-90" q5="0" q6="0"/>
    <xacro:pose name="StartState" q1="90" q2="-110" q3="100"  q4="-90" q5="-90" q6="0"/>
    <xacro:pose name="LikeRussianGState" q1="90" q2="-90" q3="90"  q4="-90" q5="-90" q6="0"/>
    <xacro:pose name="GazeboMomentMeasurePose" q1="90" q2="-90" q3="90"  q4="-180" q5="-90" q6="0"/>

    <xacro:pose name="TestPoseForCartesianController" q1="90" q2="-90" q3="90"  q4="-140" q5="-45" q6="0"/>
    <xacro:pose name="TestPose" q1="112.33" q2="-84.94" q3="90.80"  q4="-102.63" q5="-88.76" q6="2.71"/>

    <!--END EFFECTOR: Purpose: Represent information about an end effector.-->
    <!--VIRTUAL JOINT: Purpose: this element defines a virtual joint between a robot link and an external frame of reference (considered fixed with respect to the robot)-->
    <virtual_joint name="fixed_base" type="fixed" parent_frame="world" child_link="base_link" />
    <!--DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->
    <disable_collisions link1="base_link_inertia" link2="shoulder_link" reason="Adjacent"/>
    <disable_collisions link1="base_link_inertia" link2="tms_base" reason="Adjacent"/>


    <disable_collisions link1="coil_link" link2="flange_link" reason="Adjacent"/>
    <disable_collisions link1="coil_link" link2="sensor_body" reason="Never"/>
    <disable_collisions link1="coil_link" link2="wrist_1_link" reason="Never"/>
    <disable_collisions link1="coil_link" link2="wrist_2_link" reason="Never"/>
    <disable_collisions link1="coil_link" link2="wrist_3_link" reason="Never"/>

    <disable_collisions link1="flange_link" link2="sensor_body" reason="Adjacent"/>
    <disable_collisions link1="flange_link" link2="wrist_1_link" reason="Never"/>
    <disable_collisions link1="flange_link" link2="wrist_2_link" reason="Never"/>
    <disable_collisions link1="flange_link" link2="wrist_3_link" reason="Never"/>
    <disable_collisions link1="forearm_link" link2="upper_arm_link" reason="Adjacent"/>
    <disable_collisions link1="forearm_link" link2="wrist_1_link" reason="Adjacent"/>

    <disable_collisions link1="sensor_body" link2="wrist_1_link" reason="Never"/>
    <disable_collisions link1="sensor_body" link2="wrist_2_link" reason="Never"/>
    <disable_collisions link1="sensor_body" link2="wrist_3_link" reason="Adjacent"/>
    <disable_collisions link1="shoulder_link" link2="tms_base" reason="Never"/>
    <disable_collisions link1="shoulder_link" link2="upper_arm_link" reason="Adjacent"/>
    <disable_collisions link1="wrist_1_link" link2="wrist_2_link" reason="Adjacent"/>
    <disable_collisions link1="wrist_1_link" link2="wrist_3_link" reason="Never"/>
    <disable_collisions link1="wrist_2_link" link2="wrist_3_link" reason="Adjacent"/>

    <disable_collisions link1="flange_link" link2="ndi_marker_link" reason="Adjacent"/>
    <disable_collisions link1="coil_link" link2="ndi_marker_link" reason="Never"/>
    <disable_collisions link1="ndi_marker_link" link2="sensor_body" reason="Never"/>
    <disable_collisions link1="ndi_marker_link" link2="wrist_1_link" reason="Never"/>
    <disable_collisions link1="ndi_marker_link" link2="wrist_2_link" reason="Never"/>
    <disable_collisions link1="ndi_marker_link" link2="wrist_3_link" reason="Never"/>

    <!-- chair -->
    <disable_collisions link1="r_cylinder" link2="chair_head" reason="Never"/>
    <disable_collisions link1="r_cylinder" link2="back" reason="Never"/>


    <disable_collisions link1="l_cylinder" link2="chair_head" reason="Never"/>
    <disable_collisions link1="l_cylinder" link2="back" reason="Never"/>

    <disable_collisions link1="l_cylinder" link2="r_cylinder" reason="Never"/>
    <disable_collisions link1="chair_head" link2="back" reason="Never"/>

    <disable_collisions link1="l_cylinder" link2="base_link_inertia" reason="Never"/>
    <disable_collisions link1="r_cylinder" link2="base_link_inertia" reason="Never"/>
    <disable_collisions link1="back"       link2="base_link_inertia" reason="Never"/>
    <disable_collisions link1="chair_head" link2="base_link_inertia" reason="Never"/>

    <disable_collisions link1="l_cylinder" link2="sphere" reason="Never"/>
    <disable_collisions link1="r_cylinder" link2="sphere" reason="Never"/>
    <disable_collisions link1="back"       link2="sphere" reason="Never"/>
    <disable_collisions link1="chair_head" link2="sphere" reason="Never"/>

    <disable_collisions link1="l_cylinder" link2="shoulder_link" reason="Never"/>
    <disable_collisions link1="r_cylinder" link2="shoulder_link" reason="Never"/>
    <disable_collisions link1="back"       link2="shoulder_link" reason="Never"/>
    <disable_collisions link1="chair_head" link2="shoulder_link" reason="Never"/>
    <disable_collisions link1="sphere"     link2="shoulder_link" reason="Adjacent"/>

<!-- Not sure -->
    <disable_collisions link1="l_cylinder" link2="sensor_body" reason="Never"/>
    <disable_collisions link1="r_cylinder" link2="sensor_body" reason="Never"/>
    <disable_collisions link1="back"       link2="sensor_body" reason="Never"/>
    <disable_collisions link1="chair_head" link2="sensor_body" reason="Never"/>
    <disable_collisions link1="sphere"     link2="sensor_body" reason="Adjacent"/>

    
    <disable_collisions link1="l_cylinder" link2="wrist_3_link" reason="Adjacent"/>
    <disable_collisions link1="r_cylinder" link2="wrist_3_link" reason="Adjacent"/>
    <disable_collisions link1="back"       link2="wrist_3_link" reason="Adjacent"/>
    <disable_collisions link1="chair_head" link2="wrist_3_link" reason="Adjacent"/>
    <disable_collisions link1="sphere"     link2="wrist_3_link" reason="Adjacent"/>

<!--  -->
</robot>
